*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(70, 70, 70);
}
header{
    height: 20vh;
    display: flex;
    order: 2;
    background-color: rgb(165, 0, 143);
    padding: 5px;
    gap: 5px;
    flex-wrap: wrap;
}
main{
    display: flex;
    flex-direction: column;
    height: 80vh;
    order: 1;

}
.btnAdicionar{
    background-color: rgb(17, 167, 30);
    border: none;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    width: 80%;
    font-weight: 600;
}
.btnUnidade{
    background-color: rgb(70, 70, 70);
    border: none;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    width: 17%;
    font-weight: 600;
}
.btnAdicionar:hover{
    background-color: rgb(17, 167, 30);
    
}

.btnRemover{
    background-color: rgb(148, 0, 116);
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    transition: .2s;
}
.btnRemover:active{
    opacity: 0.2;

}
.btnRemover:hover{
    background-color: rgb(116, 0, 0);
}

.inputTarefa{
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 5px;
    width: 80%;
    padding:  0 4%;
}
.inputQtd{
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 5px;
    width: 17%;
    text-align: center;
}
ul{
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
    padding: 2%;
    align-items: center;
    overflow-y: scroll;
    height: 100vh;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(226, 226, 226);
    padding: 1px 1px;
    border-radius: 5px;
    margin: 1px;
    width: 100%;
    transition: 1s;
    color: rgb(75, 75, 75);
    font-weight: 600;
    font-size: 18px;
}

li:active{
    background-color: rgb(255, 255, 255);
    padding: 2% 3%;
    border-radius: 5px;
    margin: 10px;
    width: 100%;
}

.selecionado{
    background-color: rgba(0, 107, 41, 0.651);
    order: 1;
    transition: 1s;
    color: white;
    position: relative;
    left: 5%;
    transform: scalex(0.9);
    margin: 1px;

}

span{
    order: -1;
    padding: 5px;
}

.span{
    color: rgb(0, 255, 0);
    order: -1;
}
.qtd{
    order: 1;
    font-size: 14px;
}
.autocomplete-items{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    justify-content: flex-end;
    width: 100vw;
    height: 80%;
    
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items div {
  cursor: pointer;
  background-color: #fff;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

form{
    display: flex;
    gap: 5px;
}