/*
    preto: #494949
    branco: #F4F4F4
    branco opaco: #E3E3E3
    lilás: #8D49E3
 */

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #494949;
    height: 100vh;

}

@media (min-width: 90em){
    body{
        display: flex;
        flex-direction: column;
        background-color: #494949;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        padding: 0% 30%;
    }

}
header{
    height: 45vh;
    display: flex;
    order: 2;
    background-color: #8D49E3;
    padding: 2%;
    gap: 2px;
    flex-wrap: wrap;
}
header.esconder{
    height: 10vh;
    display: flex;
    order: 2;
    background-color: #8D49E3;
    flex-wrap: wrap;
    padding: 1.5%;

}

main{
    display: flex;
    flex-direction: column;
    height: 55vh;
    order: 1;
}
main.esconder{
    display: flex;
    flex-direction: column;
    height: 90vh;
    order: 1;
}
.btnAdicionar{
    background-color: #F4F4F4;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    color: #494949;
    width: 80%;
    height: 16%;
    font-weight: 600;
}
@media (min-width: 90em){
    .btnAdicionar{
        font-size: 36px;
    }

}

.btnUnidade{
    background-color: #494949;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    width: 18%;
    height: 16%;
    font-weight: 600;
}
@media (min-width: 90em){
    .btnUnidade{
        font-size: 36px;
    }

}

.btnRemover{
    background-color: #8D49E3;
    border: none;
    border-radius: 5px;
    padding: 2%;
    color: white;
    transition: .2s;
    font-weight: 600;
    font-size: 14px;
}
@media (min-width: 90em){
    .btnRemover{
        padding: 3%;
        font-size: 30px;

    }
}

.inputTarefa{
    overflow: hidden;
    background-color: #494949;
    border: none;
    display: inherit;
    border-radius: 5px;
    width: 80%;
    height: 16%;
    padding: 10px;
    color: #F4F4F4;
}

.inputTarefa.esconder{
    background-color: #494949;
    display: initial;
    border: none;
    display: inherit;
    border-radius: 5px;
    height: 20vh;
    width: 100%;
    height: 8vh;
    padding: 10px;
    text-align: center;
}
.inputNum{
    overflow: hidden;
    background-color: #494949;
    border: none;
    border-radius: 5px;
    width: 18%;
    height: 16%;
    text-align: center;
    color: #F4F4F4;
}
@media (min-width: 90em){
    .inputNum{
        font-size: 55px;
    }

}

ul{
    display: flex;
    flex-direction: column;
    background-color: #494949;
    padding: 2%;
    align-items: center;
    overflow-y: scroll;
    height: 100vh;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F4F4;
    padding: 1px 1px;
    border-radius: 5px;
    margin: .2% 0;
    width: 100%;
    transition: 1s;
    color: rgb(75, 75, 75);
    font-weight: 600;
    font-size: 18px;
}
@media (min-width: 90em){
    li{
  
        font-size: 48px;

    }
}
li:active{
    background-color: rgb(255, 255, 255);
    padding: 2% 3%;
    border-radius: 5px;
    margin: 10px;
    width: 100%;
}
@media (min-width: 90em){
    li:active{
        margin: 1px;
        padding: 0;


    }
}
.selecionado{
    background-color: #E3E3E3;
    order: 1;
    transition: 1s;
    color: #494949;
    position: relative;
    left: 5%;
    width: 90%;
    margin: .2%;

}

span{
    order: -1;
    padding: 0 8px;

}

.span{
    color: rgb(53, 228, 0);
    order: -1;
}
.qtd{
    order: 1;
    font-size: 14px;
}
@media (min-width: 90em){
    .qtd{
        font-size: 24px;
    }
}

.autocomplete-items{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    justify-content: flex-end;
    width: 100vw;
    height: 75%;
    
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items div {
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
  padding: 5px;

}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

form{
    display: flex;
    gap: 1%;
}

.tecladoLetras{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 27vh;
}
.tecladoLetras > div{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.letra{
    background-color: #F4F4F4;
    border: none;
    width: 10%;
    height: 90%;
    border-radius: 5px;
    color: #494949;
    font-size: 16px;
    font-weight: 600;
    border: solid 1px #8D49E3;
}
@media (min-width: 90em){
    .letra{
        font-size: 32px;
    }
}
.capslock{
    background-color: #F4F4F4;
    border: none;
    width: 15%;
    height: 90%;
    border-radius: 5px;
    color: #494949;
    font-size: 12px;
    font-weight: 600;
    border: solid 1px #8D49E3;
}
@media (min-width: 90em){
    .capslock{
        font-size: 32px;
    }
}
.backspace{
    background-color: #F4F4F4;
    border: none;
    width: 15%;
    height: 90%;
    border-radius: 5px;
    color: #494949;
    font-size: 12px;
    font-weight: 600;
    border: solid 1px #8D49E3;
}
@media (min-width: 90em){
    .backspace{
        font-size: 32px;
    }
}

.backspace2{
    background-color: #F4F4F4;
    width: 20%;
    height: 100%;
    border-radius: 5px;
    color: #494949;
    font-size: 12px;
    font-weight: 600;
    border: solid 1px #8D49E3;
}
@media (min-width: 90em){
    .backspace2{
        font-size: 32px;
    }
}
.spacebar{
    width: 100%;
    background-color: #F4F4F4;
    height: 100%;
    border: none;
    border-radius: 5px;
    color: #494949;
    font-size: 16px;
    font-weight: 600;
    border: solid 1px #8D49E3;
}
@media (min-width: 90em){
    .spacebar{
        font-size: 32px;
    }
}

.tecladoNumerico{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 27vh;

}

.tecladoNumerico > div{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}
.numero{
    background-color: #F4F4F4;
    border: solid white 1px;
    width: 20%;
    height: 100%;
    border-radius: 5px;
    color: #494949;
    font-size: 20px;
    border: solid 1px #8D49E3;
}
@media (min-width: 90em){
    .numero{
        font-size: 36px;
    }

}
.abrirFechar{
    position: absolute;
    bottom: 268px;
    left: 5px;
    transform: scale(1.2);
    background-color: #F4F4F4;
    border: solid white 1px;
    border-radius: 5px;
    color: #494949;
    font-size: 14px;
    border: solid 4px #8D49E3;
    width: 10%;

}
@media (min-width: 90em){
    .abrirFechar{
        font-size: 55px;
        left: 31%;
        bottom: 47%;
        transform: scale(0.8);
        width: 4%;

    }

}
h1{
    font-size: 14px;
    text-align: center;
}
@media (min-width: 90em){
    h1{
        font-size: 55px;
    }

}
p{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #F4F4F4;
    font-size: 14px;
}
@media (min-width: 90em){
    p{
        font-size: 55px;
        left: 32%;
        color: #F4F4F4;
    }

}

.esconder{
    display: none;
    
    
}

